name: CI/CD Pipeline for OWASP Juice Shop

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: read
  actions: read
  security-events: write  # Permet d'écrire les événements de sécurité

jobs:
  setup-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Étape 1 : Vérification du dépôt
    - name: Checkout repository
      uses: actions/checkout@v3

    # Étape 2 : Télécharger et exécuter l'image Docker de Juice Shop
    - name: Pull and Run OWASP Juice Shop Docker Image
      run: |
        docker pull bkimminich/juice-shop
        docker run -d -p 3000:3000 --name juice-shop bkimminich/juice-shop

    # Étape 3 : Attendre que l'application soit prête
    - name: Wait for Juice Shop to be ready
      run: |
        for i in {1..10}; do
          if curl -s http://localhost:3000 > /dev/null; then
            echo "Juice Shop is ready!"
            exit 0
          fi
          echo "Waiting for Juice Shop to be ready..."
          sleep 5
        done
        echo "Juice Shop did not start in time."
        exit 1

    # Étape 4 : Vérification que l'application fonctionne
    - name: Verify Application is Running
      run: |
        curl -I http://localhost:3000

    # Étape 5 : Ajouter les tests de sécurité avec CodeQL (SAST)
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: javascript

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2

     # Étape 6 : Analyser les vulnérabilités avec Snyk dans l'image Docker
    - name: Run Snyk to check Docker image vulnerabilities
      uses: snyk/actions/docker@v2
      with:
        image: bkimminich/juice-shop
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
