name: CI/CD Pipeline for OWASP Juice Shop

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

permissions:
  contents: write  # Nécessaire pour télécharger et enregistrer des artefacts
  actions: read
  security-events: write

jobs:
  setup-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # Étape 1 : Vérification du dépôt
    - name: Checkout repository
      uses: actions/checkout@v3

    # Étape 2 : Télécharger et exécuter l'image Docker de Juice Shop
    - name: Pull and Run OWASP Juice Shop Docker Image
      run: |
        docker pull bkimminich/juice-shop
        docker run -d -p 3000:3000 --name juice-shop bkimminich/juice-shop

    # Étape 3 : Attendre que l'application soit prête
    - name: Wait for Juice Shop to be ready
      run: |
        timeout 60 bash -c \
        'until curl -s http://localhost:3000 > /dev/null; do echo "Waiting..."; sleep 5; done'
        echo "Juice Shop is ready!"

    # Étape 4 : Vérification que l'application fonctionne
    - name: Verify Application is Running
      run: |
        if [ "$(curl -o /dev/null -s -w '%{http_code}' http://localhost:3000)" != "200" ]; then
          echo "Application is not responding with HTTP 200"
          exit 1
        fi
        echo "Application is running."

    # Étape 5 : Ajouter les tests de sécurité avec CodeQL (SAST)
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v2
      with:
        languages: javascript

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v2

  # DAST (Dynamic Application Security Testing) using OWASP ZAP
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the webapplication

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: master

      - name: ZAP Scan
        uses: zaproxy/action-baseline@v0.13.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          target: 'https://www.zaproxy.org'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'

  
  snyk-scan:
    runs-on: ubuntu-latest
    needs: setup-and-deploy

    steps:
    # Étape 1 : Vérification du dépôt
    - name: Checkout repository
      uses: actions/checkout@v3

    # Étape 2 : Exécuter Snyk pour vérifier les vulnérabilités de l'image Docker
    - name: Run Snyk to check Docker image for vulnerabilities
      uses: snyk/actions/docker@master
      env:
        SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
      with:
        image: bkimminich/juice-shop